<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
</head>
<body>
    <header>
        <h1>CC</h1>
    </header>
    <main>
        <a href="page2">Deltagab</a>
        <a href="page3">Valorant</a>
        <iframe height="100px" width="350px" frameborder="0" src="https://livecounts.org/compteur-youtube/Deltagab" allowfullscreen></iframe>
        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/5IoOzWnWkVLQXTUltaKdTi?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    </main>
    <footer>
        <p></p>
    </footer>
</body>
</html>