<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quizz Valorant</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="">
    <header class="bg-red-600 text-center text-3xl py-2 text-black font-bold" >

    </header>

    <main class=" py-2 ">
        <div class="flex justify-center">
        <img src="/static/pendu{{etat_du_jeu.vies}}.png">
        </div>

        <p class="text-center texte-2xl font-bold p-6">{{etat_du_jeu.mot_a_afficher}}</p>

        <p class="text-center texte-2xl font-bold p-6">Devine le mot caché en proposant des lettres</p>
    </main>

    <footer class="bg-red-600 text-center font-bold py-2 text-black w-full fixed bottom-0 flex justify-center" >
        <p>Copyright valorant</p>
    </footer>
</body>
</html>